extends base

block content 
    form(method="POST")
        input(placeholder= "Name", name="name", type="text", required, trim="true")
        input(placeholder= "Email", name="email", type="text", required, trim="true")
        input(placeholder= "Username", name="username", type="text", required, trim="true")
        input(placeholder= "Password", name="password", type="password", required, trim="true")
        input(placeholder= "Location", name="location", type="text", required, trim="true")
        input(type="submit", value="Join")