extends base
include mixins/videoStruct

block content 
    form(method="GET")
        input(placeholder = "Search by title", type="text", name="keyword" trim="true", required)
        button(type="Submit") Search

    each video in videos 
        +videoStruct(video)